In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [7]:
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import ModelCheckpoint

from sklearn.model_selection import train_test_split
np.random.seed(500)

In [8]:
df = pd.read_csv(r'C:\Users\Bhavesh\Downloads\pima1.csv')

In [9]:
df.head()

,pregnancy,plasma_glucose,distolic_bp,skin_thick,insuline,BMI,pedigree_fn,age,Diabetes
0,6,148,72,35,0,33.6,0.627,50,tested_positive
1,1,85,66,29,0,26.6,0.351,31,tested_negative
2,8,183,64,0,0,23.3,0.672,32,tested_positive
3,1,89,66,23,94,28.1,0.167,21,tested_negative
4,0,137,40,35,168,43.1,2.288,33,tested_positive

In [10]:
df.Diabetes = np.where(df['Diabetes'] == 'tested_negative',0,1)
df.head()

,pregnancy,plasma_glucose,distolic_bp,skin_thick,insuline,BMI,pedigree_fn,age,Diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
features = list(df.columns.values)
features.remove('Diabetes')

In [ ]:
X = df[features]
y = df.Diabetes

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)